@use "../../styles/partial/flex" as *;

.selector {
  @include flex(center, null, 0.5rem, null);
}

.option {
  @include flex(center, center, null, null);
  padding: 0.5rem;
  width: 36px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: var(--border);
  }
}

.optionActive {
  border-color: var(--primary);
}

.swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
