@use "../../styles/variables" as *;

.container {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: column;
  margin-bottom: 2rem;
}

.card {
  background: $card-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1.5rem 1rem;
  text-align: center;

}

.value {
  color: $primary-color;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.label {
  color: $text-muted;
  font-size: 0.875rem;
  text-transform: uppercase;
}