@use "../../../styles/partial/flex" as *;

.card {
  @include flex($align: center, $justify: space-between, $gap: 1rem);
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  padding: 1rem;
}

.info {
  @include flex($gap: 0.25rem, $direction: column);
  flex: 1;
}

.name {
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 600;
}

.detail {
  color: #666;
  font-size: 0.875rem;
}

.btn-edit {}

.btn-delete {}