@use "../../../styles/variables" as *;

.list {
  display: grid;
  gap: 1.5rem;
}

.empty {
  color: $text-muted;
  padding: 3rem;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}